.ngoai{
    position: relative;
    height: 50px;
    line-height: 50px;
}
p{
    margin: 0;
}
.trong{
    position: absolute;
    background-color: red;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    animation: bg  180s 0s linear;
}
@keyframes bg {
    from{
        width: 100%;
    }to{
         width: 0%;
     }
}
